<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AeRenderPath" value="D:\Program Files\Adobe\Adobe After Effects CS6\Support Files\aerender.exe"/>
    <add key="OutputPath" value="e:\OutPut\"/>
    <add key="AeProjectFile" value="e:\AEProjs\iFILM website. 8 collect folder\Web Edit 22.8 collect.aep"/>
    <add key="ImagePath" value="C:\FILES\TMP\htv.png"/>
    <add key="Composition" value="final"/>
    <add key="WebUrl" value="http://hispantv.ir/"/>
    <add key="OutPutFileName" value="main web preview"/>
    <add key="WaitForLoadWebSite" value="2000"/>
   <add key="ImageWith" value="1019"/>
    <add key="ImageHeight" value="1019"/>
   <add key="ImagePaddingTop" value="240"/>
  <add key="RenderIntervalMin" value="46"/>
  </appSettings>
</configuration>